button {
	font-size: 30px;
	width: 100%;
}

select {
	font-size: 35px;
}

label {
	white-space: nowrap;
}

.quiz-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 30px;
}

.question-container {
	font-size: 55px;
	display: grid;
	grid-gap: 10px;
	column-gap: 20%;
	grid-template-columns: repeat(auto-fit, 330px);
}

.question {
	flex: 1;
	align-items: center;
	white-space: nowrap;
}

.question-input {
	height: 40px;
	font-size: 40px;
	width: 70px;
	margin-left: 15px;
}

.question-input:focus {
	background: lightgoldenrodyellow;
}

.start-quiz {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
	column-gap: 30px;
}